body{
    margin: 0;
    height:100vh;
    font-family: Verdana;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "header header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "footer footer footer footer footer"
;
}
.header{
    grid-area: header;
    background-color: #00f;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    display:flex;
    gap:2vw;
}
nav li:hover{
    font-size: large;
    text-shadow: 2px 2px #0f0;
}
a{
    text-decoration: none;
    color:#fff;
}
.header img{
    height:20vh;
}
.sidebar{
    grid-area: sidebar;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #00f;
}
.header:hover,.footer:hover{
   background-color: rgb(0, 0, 255, 0.6);
}
.sidebar{
    display: flex;
    justify-content: center;
}
.sidebar ul{
    flex-direction: column;
    justify-content: space-around;
}